body {
	font-family: Century Gothic;
}

header, section, footer {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

header {
	height: 80px;
	background-color: #ffffff;
	margin-bottom: 10px;
}

h1 {
	font-family: Rock Salt;
	font-size: 45px;
	text-align: center;
	color: #da4156;
	line-height: 1.5;
}

h2 {
	text-align: center;
	color: #da4156;
	font-size: 30px;
}

h3 {
	text-align: center;
	color: #558e8a;
	font-size: 20px;
}

h4 {
	text-align: center;
	color: #ffffff;
	font-size: 15px;
	font-weight: lighter;
}

p {
	text-align: center;
	color: #5d5c5c;
}

#marca {
	width: 80px;
	height: 80px;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}

#marca img {
	height: 100%
}

#botonera {
	width: 550px;
	height: 80px;
	float: right;
}

#botonera ul {
	margin: 20px;
	padding: 0;
	list-style-type: none;
}

#botonera ul li {
	display: inline;
}

#botonera ul li a {
	text-decoration: none;
	color: #5d5c5c;
	font-weight: bold;
	padding: 10px 10px;
	display: inline-block;
	font-size: 18px;
}

#botonera ul li a:hover {
	color: #da4156;
	border-radius: 15px;
	border: 2px solid #da4156;
	margin: -2px;
}

#home {
	height: 840px;
	background-color: #ffffff;
}

#img_home {
	width: 340px;
	height: 400px;
	background-color: #ffffff;
	float: right;
}

#img_home img {
	height: 100%;
}

#txt_home {
	width: 550px;
	height: 350px;
	background-color: #ffffff;
	float: left;
	margin-top: 20px;
	padding: 20px 80px;
	box-sizing: border-box;
}

#home h2 {
	width: 960px;
	text-align: center;
	float: right;
	color: #558e8a;
}

.datethem {
	width: 320px;
	height: 350px;
	float: left;
	padding: 20px;
	box-sizing: border-box;
}

.img_datethem {
	float: left;
	width: 280px;
	height: 150px;
	text-align: center;
	margin-bottom: 20px;
}

.img_datethem img {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#prompt {
	height: 270px;
	background-color: #da4156;
	color: #ffffff;
	padding: 10px;
	box-sizing: border-box;
}

#prompt h2{
	color: #ffffff;
}

#adoption {
	height: 480px;
	background-color: #f7f7f7;
}

.txt_adoption {
	width: 800px;
	height: 130px;
	float: right;
	margin-right: 80px;
	margin-top: 0px;
	padding: 10px;
	box-sizing: border-box;
}

.img_adoption {
	width: 180px;
	height: 180px;
	float: left;
	margin-top: 30px;
	margin-left: 70px;
	margin-right: 70px;
}

.img_adoption img {
	height: 80%;
	margin: auto;
	display: block;
	margin-top: 16px;
	border-radius: 90px;
}

.container {
	display: block;
	position: relative;
	width: 180px;
	height: 180px;
	border-radius: 90px;
	padding: 0px;
}

.container:hover img {
	margin-top: 0px;
	opacity: 0;
}

.container:hover {
	background-color: #da4156;
}

.container:hover p {
	height: 100%;
	opacity: 100%;
	font-size: 30px;
	color: #ffffff;
	font-weight: bold
}

.overlay {
	position: absolute;
	width: 180px;
	height: 180px;
}

.overlay p {
	margin-top: 70px;
	opacity: 0;
}

#adoption a {
	text-decoration: none;
	color: #5d5c5c;
	font-weight: bold;
}

#adoption a:hover {
	color: #da4156;
}

#events {
	height: 400px;
	background-color: #fccb4b;
}

#txt_events {
	width: 400px;
	height: 300px;
	float: right;
	margin-right: 100px;
	padding: 30px;
	box-sizing: border-box;
}

#the {
	font-size: 20px;
	text-align: left;
	color: #ffffff;
	line-height: 1;
}

#purrfect {
	font-size: 70px;
	text-align: left;
	color: #ffffff;
	line-height: 1;
}

#match {
	font-size: 93px;
	text-align: left;
	color: #ffffff;
	line-height: 1;
}

#adoption_event {
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	line-height: 1;
}

#date {
	font-size: 20px;
	text-align: center;
	color: #000000;
	line-height: 2;
}

#txt_calendar {
	width: 400px;
	height: 100px;
	float: right;
	margin-top: 0px;
	margin-right: 100px;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

#txt_calendar a {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

#txt_calendar a:hover {
	color: #da4156;
	font-weight: bold;
}

#img_events {
	width: 280px;
	height: 400px;
	background-image: url(imagenes/img_events.jpg);
	background-size: cover;
	float: left;
}

#menu {
	height: 450px;
	background-color: #f7f7f7;
}

#txt_menu {
	width: 800px;
	height: 150px;
	float: right;
	margin-right: 80px;
	margin-top: 0px;
	padding: 10px;
	box-sizing: border-box;
}

#botonera_menu {
	width: 960px;
	height: 80px;
	float: right;
}

#botonera_menu div {
	width: 33%;
	display: inline-block;
	float: left;
	text-align: center;
}

#botonera_menu a {
	text-decoration: none;
	color: #5d5c5c;
	font-weight: bold;
	padding: 10px 10px;
	display: inline-block;
	font-size: 18px;
}

#botonera_menu a:hover {
	color: #cccccc;
}

.info_menu {
	width: 900px;
	height: 200px;
	margin-left: 30px;
	margin-right: 30px;
	float: left;
}

.info_menu div {
	width: 200px;
	height: 200px;
	float: left;
}

.info_menu div img {
	height: 100%;
}

.info_menu p {
	width: 700px;
	height: 200px;
	padding: 50px;
	float: left;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.7);
	margin: 0px;
}

#contact {
	height: 650px;
	background-color: #f7f7f7;
}

#txt_contact {
	width: 800px;
	height: 150px;
	float: right;
	margin-right: 80px;
	margin-top: 0px;
	padding: 10px;
	box-sizing: border-box;
}

#formulario {
	height: 500px;
	float: left;
}

#contact_container {
  width: 920px;
  height: 470px;
  padding: 20px;
} 

input[type=text], input[type=email], textarea {
  width: 900px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #45a049;
}


footer {
	height: 180px;
	background-color: #da4156;
	margin-top: 10px;
}

#txt_footer {
	width: 280px;
	height: 60px;
	float: left;
	margin-top: 20px;
	margin-left: 330px
}

#txt_footer p {
	font-family: Rock Salt;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	line-height: 1;
}

#botonera_footer {
	width: 280px;
	height: 30px;
	float: left;
	margin-top: 10px;
	margin-left: 330px
}

#botonera_footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#botonera_footer ul li {
	display: inline;
}

.icon {
	height: 30px;
	display: inline-block;
	filter: invert(100%);
	padding: 0px 30px;
}

.icon:hover {
	filter: invert(0%);
}

#mail {
	width: 280px;
	height: 30px;
	float: left;
	margin-top: 10px;
	margin-left: 330px
}

#mail p {
	text-align: center;
	color: #ffffff;
	line-height: 0;
}

@media all and (min-width: 600px) and (max-width: 1023px) {

header, section, footer {
	width: 580px;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 20px;
}

p {
	font-size: 15px;
}

#marca img {
	height: 100%
}

#botonera {
	width: 500px;
	margin-right: 0px;
}

#home {
	height: 680px;
}

#img_home {
	width: 250px;
	height: 300px;
}

#txt_home {
	width: 320px;
	height: 300px;
	margin-top: 0px;
	padding: 50px 50px;
}

#home h2 {
	width: 580px;
}

.datethem {
	width: 180px;
	height: 200px;
	padding: 10px;
}

.img_datethem {
	width: 160px;
	height: 130px;
	margin-bottom: 10px;
}

.img_datethem img {
	height: 80%;
}

#adoption {
	height: 430px;
	background-color: #f7f7f7;
}

.txt_adoption {
	width: 580px;
	margin-right: 0px;
}

.img_adoption {
	width: 150px;
	height: 150px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
}

.container {
	position: relative;
	width: 150px;
	height: 150px;
}

.overlay {
	width: 150px;
	height: 150px;
}

.overlay p {
	margin-top: 55px;
}

#events {
	height: 320px;
}

#txt_events {
	width: 280px;
	height: 220px;
	margin-right: 0px;
	padding: 20px;
}

#the {
	font-size: 15px;
}

#purrfect {
	font-size: 48px;
}

#match {
	font-size: 63px;
}

#adoption_event {
	font-size: 15px;
}

#date {
	font-size: 15px;
}

#txt_calendar {
	width: 280px;
	height: 100px;
	margin-right: 0px;
}

#img_events {
	width: 224px;
	height: 320px;
}

#menu {
	height: 500px;
}

#txt_menu {
	width: 580px;
	height: 150px;
	margin-right: 0px;
}

#botonera_menu {
	width: 580px;
}

.info_menu {
	width: 520px;
	height: 150px;
	margin-left: 30px;
	margin-right: 30px;
}

.info_menu div {
	width: 150px;
	height: 150px;
}

.info_menu p {
	width: 370px;
	height: 150px;
	padding: 20px;
}

#contact {
	height: 630px;
}

#txt_contact {
	width: 580px;
	height: 120px;
	margin-right: 0px;
}


#contact_container {
  width: 540px;
} 

input[type=text], input[type=email], textarea {
  width: 540px; 
}

#txt_footer {
	width: 580px;
	margin-left: 0px
}

#botonera_footer {
	width: 280px;
	margin-left: 150px
}

#mail {
	width: 280px;
	margin-left: 150px;
}

} /* fin media 600px a 1023px */


@media all and (max-width: 599px) {

header, section, footer {
	width: 90%;
}

header {
	height: auto;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 20px;
}

p {
	font-size: 15px;
}

#marca {
	float: none;
}

#botonera {
	width: 100%;
	height: auto;
	margin-right: 0px;
	float: none;
}

#botonera ul li {
	display: block;
}

#botonera ul li a {
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

#home {
	height: 930px;
}

#img_home {
	width: 160px;
	height: 200px;
}

#txt_home {
	width: 140px;
	height: 200px;
	padding: 30px 5px;
	margin: 0px;
}

#home h2 {
	width: 100%;
}

.datethem h3 {
	margin: 15px;
}

.datethem {
	width: 100%;
	height: 220px;
	padding: 10px;
}

.img_datethem {
	width: 100%;
	height: 100px;
	margin-bottom: 0px;
}

.img_datethem img {
	height: 80%;
}

#adoption {
	height: 670px;
}

.txt_adoption {
	width: 100%;
	margin-right: 0px;
}

.img_adoption {
	width: 33%;
	height: 110px;
	margin-left: 33%;
	margin-right: 33%;
	margin-top: 10px;
}

.container {
	width: 110px;
	height: 110px;
}

.container:hover p {
	font-size: 20px;

}

.overlay {
	width: 110px;
	height: 110px;
}

.overlay p {
	margin-top: 40px;
}


#events {
	height: 205px;
}

#txt_events {
	width: 50%;
	height: 150px;
	margin-right: 0px;
	padding: 10px;
}

#the {
	font-size: 15px;
	text-align: center;
}

#purrfect {
	font-size: 30px;
	text-align: center;
}

#match {
	font-size: 40px;
	text-align: center;
}

#adoption_event {
	font-size: 15px;
}

#date {
	font-size: 10px;
}

#txt_calendar {
	width: 50%;
	height: 100px;
	margin-right: 0px;
	padding: 10px;
	font-size: 10px;
}

#img_events {
	width: 144px;
	height: 205px;
}

#menu {
	height: 750px;
}

#txt_menu {
	width: 100%;
	height: 150px;
	margin-right: 0px;
}

#botonera_menu {
	width: 100%;
}

.info_menu {
	width: 100%;
	height: 450px;
	float: left;
	margin: 0px;
	text-align: center;
}

.info_menu div {
	width: 250px;
	height: 250px;
	float: none;
	display: inline-block;
}

.info_menu p {
	width: 250px;
	height: 200px;
	padding: 20px 10px;
	float: none;
	display: inline-block;
	box-sizing: border-box;
}

#contact {
	height: 630px;
}

#txt_contact {
	width: 100%;
	height: 120px;
	margin-right: 0px;
}


#contact_container {
  width: 90%;
} 

input[type=text], input[type=email], textarea {
  width: 100%; 
}

footer {
	height: auto;
}

#txt_footer {
	width: 100%;
	height: auto;
	float: none;
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 10px;
}

#botonera_footer {
	width: 280px;
	height: 30px;
	float: none;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#mail {
	width: 280px;
	height: 30px;
	float: none;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

} /* fin media -599px */