#contenedor {
	background-color: #f5f5f5;
}

#header {
	background-color: #d693f5;
	height: 80px;
}

#marca {
	background-color: #bc8cdb;
}

#botonera {
	background-color: #6b4682;
}

#cats_adoption {
	background-color: #c4f395;
	height: 600px;
}

#cont1 {
	background-color: #b0c79b;
}

#cont2 {
	background-color: #859c70;
}

#cont3 {
	background-color: #adcc91;
}

#cont4 {
	background-color: #97b37f;
}

#cont5 {
	background-color: #7b9167;
}

#cont6 {
	background-color: #97c270;
}

#cont7 {
	background-color: #85a865;
}

#footer {
	background-color: #ebce98;
	height: 180px;
}

#footer1 {
	background-color: #ebb5d3;
}

#footer2 {
	background-color: #cc9db7;
}

#footer3 {
	background-color: #b0809b;
}