#contenedor {
	background-color: #f5f5f5;
}

#header {
	background-color: #d693f5;
	height: 80px;
}

#marca {
	background-color: #bc8cdb;
}

#botonera {
	background-color: #6b4682;
}

#cats_adoption {
	background-color: #c4f395;
}

#cont1 {
	background-color: #ffffff;
	padding-top: 10px;
	box-sizing: border-box;
}

#cont1 p {
	text-align: center;
}

#cont2 {
	background-color: #ffffff;
}

.adopt-btn {
	background-color: #da4156;
	color: #ffffff;
}

#cont3 {
	background-color: #ffffff;
	padding-top: 10px;
	box-sizing: border-box;
}

#cont3 p {
	color: #da4156;
}

input {
	margin-bottom: 10px;
}

.submit-btn {
	background-color: #4caf50;
	color: #ffffff;
}

.submit-btn:hover {
	background-color: #45a049;
	color: #ffffff;
}

#footer {
	background-color: #da4156;
	height: 180px;
}

#footer1 p {
	font-family: Rock Salt;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 0px;
	margin-top: 10px;
}

#footer2 ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#footer2 ul li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

.icon {
	height: 30px;
	display: inline-block;
	filter: invert(100%);
}

.icon:hover {
	filter: invert(0%);
}

#footer3 p {
	text-align: center;
	color: #ffffff;
	line-height: 0;
}