#header {
	padding-bottom: 25px;
	padding-top: 10px;
}

.navbar-custom {
	background-color: #ffffff;
	color: #5d5c5c;
	font-weight: bold;
}

.carousel-control-next, .carousel-control-prev, .carousel-indicators, .carousel-caption {
	filter: invert(100%);
}

#cont1 {
	background-color: #ffffff;
	padding-top: 50px;
	padding-bottom: 25px;
	box-sizing: border-box;
}

#cont1 p {
	text-align: center;
}

#cont2 {
	background-color: #ffffff;
	padding-bottom: 20px;
}

.adopt-btn {
	background-color: #da4156;
	color: #ffffff;
}

#cont3 {
	background-color: #ffffff;
	padding-top: 10px;
	box-sizing: border-box;
}

#cont3 p {
	color: #da4156;
}

input {
	margin-bottom: 10px;
}

.submit-btn {
	background-color: #4caf50;
	color: #ffffff;
}

.submit-btn:hover {
	background-color: #45a049;
	color: #ffffff;
}

#footer {
	background-color: #da4156;
	height: 180px;
}

#footer1 p {
	font-family: Rock Salt;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 0px;
	margin-top: 20px;
}

#footer2 ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#footer2 ul li {
	display: inline;
}

.icon {
	height: 30px;
	display: inline-block;
	filter: invert(100%);
}

.icon:hover {
	filter: invert(0%);
}

#footer3 p {
	text-align: center;
	color: #ffffff;
	line-height: 1;
}